body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(147, 208, 255);
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: monospace;
}

.objetivo {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 30px;
    border-left: 4px solid #333;
}
  
.area-entrada {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

#inputTarefa {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btnListaTarefas {
    padding: 10px 20px;
    background-color: #3943ae;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: monospace;
    
}

.btnListaTarefas:hover {
    background-color: #262c6d;
    transition-duration: 0.3s;
}

#listaTarefas {
    list-style: none;
    padding: 0;
}

.item-tarefa {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
      
.divLixeira {
    display: flex;
    gap: 5px;
}
   
.dica {
    margin-top: 20px;
    padding: 15px;
    background-color: #e8f4f8;
    border: 1px solid #b8d4db;
}

.divTarefas{
    background-color: lch(90.14% 42.53 89.48);
    border: 3px solid #c6f3fe;
    border-radius: 20px;
    padding: 15px 15px;
    box-shadow: #333;
}
.divBtn{
    display: flex;
    justify-content: space-evenly;
}

.btnLixeira{
    width: 20px;
    cursor: pointer;
}    
